@model List<Lab13.Models.Persona>

@{
    ViewBag.Title = "Listar Busqueda";
    var grid = new WebGrid(source: Model,
        columnNames: new[] { "PersonaID", "Nombre", "Apellido", "FechaNacimiento", "Direccion", "Email" });
    var busqueda = "";
}

<h2>Listado de Personas</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2">
            @Html.TextBox("searchNombreApellido")
        </div>
        <div>
            <input type="submit" name="search" value="Buscar" />
        </div>
    </div>

}
@grid.GetHtml(tableStyle: "table table-striped",
    columns: grid.Columns(
        grid.Column(columnName: "PersonaID", header: "PersonaID"),
        grid.Column(columnName: "Nombre", header: "Nombre"),
        grid.Column(columnName: "Apellido", header: "Apellido"),
        grid.Column(columnName: "FechaNacimiento", header: "FechaNacimiento"),
        grid.Column(columnName: "Direccion", header: "Direccion"),
        grid.Column(columnName: "Email", header: "Email"),
        grid.Column(header: "Acciones", format: (item) =>
                    Html.ActionLink("Ver", "Mostrar", "Persona",
                                new { id = item.PersonaID }, null)
                    )
    )
 )


